<section>
    <header>
        <div>
            <img src="../../assets/img/Logo.png" alt="Logo">
            <h1>DaBubble</h1>
        </div>
    </header>
    <main>
        <div class="back-arrow" routerLink="/"></div>
        <h1>Impressum</h1>
        <p>
            Marcel Lakotta<br>
            Bahnhofstr. 49<br>
            04774 Dahlen<br><br>
            Deutschland, Sachsen<br>
        </p><br>
        <h2>Kontakt</h2>
        <p>
            E-Mail: <a href="mailto:">lakottamarcel&#64;gmail.com</a><br>
            Telefon: <a href="tel:">01637158719</a><br>
        </p>
    </main>
</section>